{% extends "padre.html" %}

{% block titulo %}
<h1 class="mb-5">Mundo de los libros</h1>

{% endblock %}

{% block parrafo %}

<p>Creamos esta página con el fin de que los lectores y escritores 
tengan su espacio para compartir, críticas, opiniones, 
que puedan interactuar con su escritor preferido. Además de otras. 
La idea es que con el tiempo, las próximas actualizaciones, 
se agregará una subscripción para poder "alquilar" los libros 
y puedas disfrutarlo de manera virtual sin ningun desperfecto.
</p>


{% endblock %}