{% extends "padre.html" %}

{% block titulo %}
<h1 class="mb-5">Mundo de los libros</h1>

{% endblock %}

{% block parrafo %}
<table>
   <thead>
      <tr>
         <th>Título</th>
         <th>Género</th>
         <th>Autor</th>
      </tr>
   </thead>
   <tbody>
      {% for valor in total %}
      <tr>
         <td>{{ valor.titulo }}</td>
         <td>{{ valor.genero}}
         <td>{{ valor.autor}}

         {% if user.is_authenticated %}
         <a href="{% url 'Editar Libro' valor.id %}">Actualizar Escritor</a>
         <a href="{% url 'Eliminar Libro' valor.id %}">Eliminar Datos</a>
         {% endif %}
         </td>
      </tr>
      {% endfor %}
   </tbody>
</table>
<a class="btn btn-primary" href="{% url 'Crear Libro' %}"> Nuevo Lector</a>
<a class="btn btn-primary" href="{% url 'buscar' %}"> Busca el libro</a>
{% endblock %}